services:
  status-page:
    build:
      context: .
    container_name: status-page
    restart: unless-stopped
    ports:
      - "8080:80"
    environment:
      # Change to your own backend server and slug
      - BACKEND_URL=https://pulse.rabbit-company.com
      - STATUS_PAGE_SLUG=passky
      - UPTIME_PRECISION=3
      - LATENCY_PRECISION=0
      - DEFAULT_PERIOD=24h
      # Available themes: midnight, oled, ocean, forest, sunset, lavender, monochrome, neonmono, cyberpunk, nord, dracula, tokyonight, fuchsia, rose, sakura
      - DEFAULT_THEME=midnight
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/health"]
      interval: 30s
      timeout: 10s
      retries: 3
